.headshot {
    border-radius: 15px 50px 30px;
    width: 150px;
/*    height: 250px;
    overflow: hidden;
*/}
.person-list {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: center; /*space-around;*/
}
.person-cell {
    text-align: center;
}

div.person-cell {
/*            border: 2px solid #000000;*/
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 250px;
  margin: 0 0 0 0px;        
}
p.person-cell { 
    font:16px arial;
    margin: 0;
    padding: 0;
}


.projectshot {
    border-radius: 15px 50px 30px;
    width: 150px;
}
.project-list {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: center; /*space-around;*/
}
div.project-cell {
 flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 200px;
  margin: 0 0 0 0px;
  text-align: center;
}
p.project-cell { 
    font:16px arial;
    margin: 0;
    padding: 0;
}


li.paper-pattern {
    font-size: 11pt;
}