{{ define "main" }}
<main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="project-list">
        {{ with .Site.GetPage "section" "project" }}
        {{ range .Pages.ByDate.Reverse }}
        <div class="project-cell">
            {{ if (isset .Params "external_link") }} <a class="project-url" href="{{.Params.url_project}}" target="_blank"> 
            {{ else if (isset .Params "url_project") }} <a class="project-url" href="{{.Params.url_project}}" > {{ end }}
            <img class="projectshot" src="{{ .Params.projectshot }}" alt="{{.Title}}" title="{{.Title}}">
            {{ if isset .Params "url_project" }} </a> {{ end }}            
            <!-- <div class="project-cell-text">{{.Title}}</div> -->
        </div>
        {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}
